 <div class="container col-md-12" id="gradient">
    <div class="col-md-12">
      <h5>You would like to work on:</h5>
      <ul><% @anatomy_users.each do |anatomy_user| %>
          <li> <%= anatomy_user.anatomy.anatomy_name %> </li>
      <% end %>
      </ul>
    </div>
    <h1 class="textCenter">Your Poses</h1>
    <% @poses.each do |pose| %>
      <div class="col-md-4" style="height:450px !important;">
        <a href="/pose/<%= pose.id %>">
          <h4><%= pose.name %></h4>
          <small>Sanskrit name: <%= pose.sanskrit_name %></small>
          <img style="padding-bottom:40px;padding-top: 20px;" width="300" src="<%= pose.image %>" />
        </a>
      </div>

    <% end %>
</div>

